<div class="header">{{name}}</div>
<div class="body">

<iframe id="test1" src="http://board.wo.dev.skybet.net/m.skybet.php" width="320px" height="480"  scrolling="no" style="
margin: 10px 30px;
float: left;
box-shadow: 1px 1px 10px #000;
overflow: hidden;
border: 0px;"></iframe>

<iframe id="test1" src="http://board.wo.dev.skybet.net/m.skyvegas.php" width="320px" height="480"  scrolling="no" style="
margin: 10px 10px;
float: left;
box-shadow: 1px 1px 10px #000;
overflow: hidden;
border: 0px;"></iframe>

<script type="text/javascript">
//var iframe = $('#test1');
//var url = "http://m.skybet.com";

//console.log(iframe.top);

//window.onbeforeunload = function() { return "cance :)"; };

//iframe.load(function() {
//	var frame = $('body', $('iframe').contents());
//	var frame2 = $($(this)[0].contentWindow.document);
//
//	console.log($(this)[0].contentWindow);
//
//	$(this)[0].contentWindow.document.documentElement.style.display = "block";
	//$(this)[0].contentWindow.location = 'http://wo.dev.skybet.net/public/js-test.html';
	
//});

//iframe.top = iframe;
//iframe.attr('src', 'http://board.wo.dev.skybet.net/m.skybet.php');
//iframe.attr('src', url);

</script>
</div>