<div class="header">{{name}}</div>
<div class="body" style="padding: 10px">

	<ul class="matrix four-col">
	{{#data.list}}
		<li><a href="/{{link}}">{{name}}</a> {{description}}</li>
	{{/data.list}}
	</ul>
</div>