<div class="widget-header">
{{name}} {{ #data.pulls_count }}({{ data.pulls_count }}){{ /data.pulls_count }}
</div>
<div class="widget-body">
<ul class="matrix one-col">
	{{#data.pulls}}
	<li class="panel media {{ cssStyle }}">
		<span class="media-img"><img src="{{ user.avatar_url }}" width="60" /></span>
		<span class="media-body text-M">{{title}}</span>
		<div>
			<a href="{{ html_url }}">View PR</a>
			<ul style="inline">
			{{ #messages }}
				<li>{{ . }}</li>
			{{ /messages }}
			</ul>
		</div>
	</li>
	{{ /data.pulls }}
        {{ ^data.pulls }}
            <div class="panel media" style="overflow:hidden; _overflow:visible; zoom:1;">
                <img class="media-img" src="/images/unlocked.png" width="60" />
                <div class="media-body">
                    <span class="text-M">Achievement Unlocked!</span><br />
                    No Pending Pull Requests.
                </div>
            </div>
        {{ /data.pulls }}
</ul>
</div>
