<div class="header">
{{name}}
</div>
<div class="body" style="padding: 5px 10px">
  <div class="panel">
    <img src="{{data.graph}}" height="{{data.height}}" />
  </div>
  <ul style="padding: 0px; margin: 0px">
  {{#conf.targets}}
    <li style="list-style: none; margin-left: 4px;float: left"><i class="legend-marker" style="display: inline-block; border: 1px #000 solid; width: 10px; height: 10px; margin: 0px 4px; background-color: {{color}}"></i>{{label}}</li>
  {{/conf.targets}}
  </ul>


{{#data.errors}}
<li>{{.}}</li>
{{/data.errors}}
</div>
